#about_me {
    width: 100%;

    .wrapper {
        padding: 50px 0 100px 0;
        display: flex;
        gap: 40px;

        .left {
            padding: 50px 150px 140px 40px;

            img {
                box-shadow: -40px 40px #E5E7EB;
                transition: all 2s ease;

                &:hover {
                    transform: translate(-20px, 20px);
                    box-shadow: -10px 10px #E5E7EB;
                }
            }
        }

        .right {
            max-width: 584px;

            h2 {
                height: 36px;
                font-size: 30px;
                font-weight: 600;
                line-height: 36px;
                letter-spacing: -0.02em;
                text-align: left;
                color: #111827;
                margin-bottom: 30px;
            }

            p {
                margin-top: 10px;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                text-align: left;
                color: #4B5563;

            }
        }
    }

    .btn {
        width: 110px;
        margin: 50px 39%;
    }
}

@media only screen and (max-width: 769px) {
    .wrapper {
        padding: 80px 0 70px 0;
        flex-direction: column;


        .left {
            padding: 0 50px 0 100px;

            img {
                box-shadow: -40px 40px #E5E7EB;
                transition: all 2s ease;

                &:hover {
                    transform: translate(-20px, 20px);
                    box-shadow: -10px 10px #E5E7EB;
                }
            }
        }

        .right {
            max-width: 584px;

            h2 {
                height: 24px;
                font-size: 20px;
                font-weight: 500;
                line-height: 20px;
            }

            p {
                font-size: 12px;
                font-weight: 400;
                line-height: 18px;
                margin-top: 30px;
            }
        }
    }

    .btn {
        width: 110px;
        margin: 20px 37%;
    }
}

@media only screen and (max-width: 365px) {
    .wrapper {
        padding: 80px 0 70px 0;
        flex-direction: column;


        .left {
            padding: 0 50px 0 100px;

            img {
                box-shadow: -40px 40px #E5E7EB;
                transition: all 2s ease;

                &:hover {
                    transform: translate(-20px, 20px);
                    box-shadow: -10px 10px #E5E7EB;
                }
            }
        }

        .right {
            max-width: 584px;

            h2 {
                height: 24px;
                font-size: 20px;
                font-weight: 500;
                line-height: 20px;
            }

            p {
                font-size: 12px;
                font-weight: 400;
                line-height: 18px;
                margin-top: 30px;
            }
        }
    }

    .btn {
        width: 110px;
        margin: 20px 37%;
    }
}